---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boda Marco y Kei">
	<main class="p-12">
		<section class="py-4">
			<p class="text-center">Lo mejor de los viajes es la buena compañía, 
				por eso queremos que estén con nosotros en el comienzo de nuestra mayor aventura.</p>
		</section>
	</main>
</Layout>
