---
import { Image } from 'astro:assets';
import suit from '../images/suit.webp';
import dress from '../images/dress.webp';
---

<section class="py-10 flex flex-wrap justify-center space-x-0 sm:space-x-10">
    <div class="px-8 py-4 text-3xl sm:text-4xl text-title dress-code">
        <p class="text-[#A47E1B] py-4">
            Código de
        </p>
        <p class="text-[#A47E1B] py-4">
            Vestimenta
        </p>
    </div>
    <div class="py-4">
        <p class="text-[#A47E1B] text-2xl sm:text-3xl"><strong>Formal</strong></p>
        <div class="flex text-lg sm:text-xl">
            <div class="w-1/2 px-4">
                <Image src={dress} alt="Vestido mujeres" class="h-8 mx-auto" />
                <p>Vestido lisos y sin estampados.</p>
                <p>Colores claros: evitar el blanco, beige, palo rosa y vino.</p>
                <p class="text-[#A47E1B] text-base sm:lg text-title">Recomendación</p>
                <p>Tacones gruesos o protectores de tacón</p>
            </div>
            <div class="w-1/2 px-4">
                <Image src={suit} alt="Traje hombres" class="h-8 mx-auto" />
                <p>Traje entero.</p>
                <p>Zapatos formales.</p>
            </div>
        </div>
    </div>
</section>

<style>
    .dress-code {
        background-image: url('../images/passport_stamp.webp');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 50%;
    }
</style>
