---
import { Image } from 'astro:assets';
import pinHeart2 from '../images/pin_heart2.webp';
---

<footer class="p-4 bg-[#9AAFAD] text-[#A47E1B]">
    <Image src={pinHeart2} alt="Pin corazón" />
    <p class="px-8 text-xl sm:text-3xl">Te esperamos con mucha ilusión para celebrar este día tan especial.</p>
    <p class="px-8 pb-4 text-xl sm:text-3xl">Tu presencia será el mejor regalo</p>
    <p class="pb-8 final-message text-xl sm:text-3xl">¡ No faltes a nuestra boda!</p>
</footer>

<style>
    .final-message {
        color: #fff;
        font-family: 'BritishCastilla', sans-serif;
    }
</style>
